body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    background-image: url("https://t3.ftcdn.net/jpg/00/86/56/12/360_F_86561234_8HJdzg2iBlPap18K38mbyetKfdw1oNrm.jpg");
    background-repeat: no-repeat;
    background-size: cover;    

}

img{
    width: 50%; 
    /* the % does the % of the page but px is the pixal count */
    display: block;
    /* This is how you comment out in CSS */
    border: solid 3px black;
    padding: 3px;
    margin: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

a{
    color: orange;
}
h1{
    color: purple;

}
h2{
    color: purple;
}

.fav{
    font-family: cursive;
    color: red;
    font-weight: bold;
    border: slateblue dotted 2px;
    background-color: blueviolet;
    text-align: center;
}


h3{
    color: rgb(207, 142, 22);
}

li{
    color: rgb(207, 142, 22);
}

ul{
    color: rgb(207, 142, 22);
}

.fav:hover{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
    border: slateblue dotted 2px;
    background-color: yellowgreen;
    text-align: center;
}


